<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles.css">
  <title>TO DO</title>
</head>
<body>
  <h1 id="heading">{{ today }}</h1>
  <div class="box">
    {% if list: %}
    {% for todo in list %}
    <div class="item">
      <input type="checkbox">
      <p>{{ todo }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <form action="/" method="POST">
      <input type="text" name="new_todo" placeholder="NEW TO DO">
      <button type="submit">+</button>
    </form>
  </div>
</body>
</html>